@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;   
}



.guide-content {
    text-align: center;
}


.modal {
    display: block;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);   
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
}

.close-btn {
    display: flex;
    justify-content: right;
    font-size: 40px;
   
}

.modal.show {
    pointer-events: auto;
    opacity: 1;
}

.guide-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
.guide {
    padding: 1.5em;
    display: flex;
    justify-content: center;
    font-family: "Asap", sans-serif;
    font-size: 36px;
    gap: 10px;
}


.guide-btn{
    border: none;
    background: none;
}

.guide-btn img{
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.guide-values {
    font-family: "Asap", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9em;
    margin: 12px;
}

.place-values {
    display: flex;
    justify-content: center;  
}

.place-values input:nth-child(1), .place-values input:nth-child(2){
    border-right: none;
}

.place-values input{
    border: 2px solid black;
    text-align: center;
    font-family: "Asap", sans-serif;
    outline: none;
    height: 3em;
}

.button {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
