@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;   

}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;    
}
    
body {
    font-family: "Asap", sans-serif;
    font-size: 20px;
    color: #fff9f9;
    background-color: #1b6bd48a;
}

#title { 
    text-align: center;
    font-size: 2em;   
}

#form input{
    display: block;
    font-size: inherit;
    font-family: inherit;
    width: 90%;
    padding: 0.5em;
    text-align: center;
    margin: auto;   
    border-radius:10px;
    border: none;
    border: solid 1px #ccc;
    outline:none;    
}

#result {
    text-align: center;
    margin: 4em;
    margin-top: 5px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

input:focus, input.form-control:focus { 
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
} 

h3 {
    text-align: center;  
    margin: 5px; 
    margin-top: 12px;
}

#a, #b, #c {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

#sec {
    padding: 0.5em;
    box-shadow:1px 1px 1px 1px rgba(47, 146, 212, 0.432), -3px -3px 5px rgba(10, 10, 10, 0.651);
    background-color: #5da9e7;
    font-size: 15px;
    margin-top: 3em;
    border-radius: 10px 10px 10px 10px;
    height: 500px;
    width: 350px;    
    justify-content: center;
    align-items: center;
}

button {
    font-family: "Asap", sans-serif;
    font-size: inherit;
    font-family: inherit;
    width: 50%;
    padding: 9px;
    border-radius: 7px;
    border-color: #5da9e7;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    margin-top: -40px;
    cursor: pointer;
    background-color: #fff9f9;
}



#temp {
    text-align: center;
    margin: 0;
    font-size: 18px;
    margin-top: 25px;
}

@media only screen and (max-width: 620px) {
        /* mobile */
    #form, #sec, #title, h3 {
        width: 100%;
    }
}


