/* @font-face {
    font-family:'Asap';
    src: url('/components/fonts/static/Asap-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: bold;
};

@font-face {
    font-family: 'Asap';
    src: url('/components/fonts/static/Asap-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
} */