@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');

* {
    margin: 0;
}

.title {
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

body{
    background-color: rgb(255,255,255);
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}


header {
    display: flex;
    flex-direction: row;
}

header :nth-child(1){
    padding: 0.5em;
    font-size: 36px;
    font-family: 'Asap', sans-serif;
    text-align: center;
}

img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    padding: 0 10px;
}

.guide-btn {   
    display: flex;
    margin: auto; 
    background: none;
    border: none;
}

.guide-values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

section{
    width: 100%;
    display: flex;
    text-align: center;
}


form:nth-child(-n+3){
    margin: auto;
}

input {
    text-align: center;
    width: 150px;
}


.values {
    display: flex;
    justify-content: center;
    height: 42px;
}

.values input{
    border: 2px solid black;
    outline: none;
}

.values input:nth-child(+n+2){
    border-left: none;
}

form [type="submit"]{
    width: 160px;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.result { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.result input {
    text-align: center;
    height: 3em;
    border: 2px solid black;
}

